    body {
      margin: 0;
      /* overflow: hidden; */
      font-family: 'Arial', sans-serif;
    }


    .header-container {
        text-align: center;
        background-color: #333;
        color: white;
        padding: 20px;
        height: 400px;
      }
  
      .navbar {
        margin-left: 0.3cm;
        display: flex;
        justify-content: center;
        background-color: #c888c7;
        padding: 10px;
        /* height: 60%; */
      }
  
      .navbar a {
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        margin: 0 10px;

      }
  
      .navbar a:hover {
        background-color: #a667c6;
      }
  

      .dropdown {
        position: relative;
        display: inline-block;
      }
  
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #555;
        min-width: 120px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        z-index: 1;
      }
  
      .dropdown:hover .dropdown-content {
        display: block;
      }
  
      .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
  
      .dropdown-content a:hover {
        background-color: #555;
      }


    .train-container {
      position: relative;
      width: 100%; 
      height: 800px; 
      /* background: linear-gradient(rgba(246, 245, 245, 0), #0f051d), url(image/train-bg2.jpg.png); */
      /* background-color: rgb(167, 132, 187); */
      overflow: hidden;
      z-index: 0;
      color: white;
    }

    .gap{
      /* height: 10cm; */
    }

    .tbg{
      background: linear-gradient(#a167b6,rgba(0, 0, 0, 0), #0f051d), url(image/tbg2.jpeg);
      z-index: -99;
    }

    .train-car {
      width: 500px; 
      height: 400px; 
      background-color: rgba(255, 255, 255, 0);
      position: absolute;
      animation: moveTrain 30s linear infinite; 
      top: 50px;
      z-index: 2;
      
    }
    .train-container:hover .train-car {
       
        animation-play-state: paused;
      }


    @keyframes moveTrain {
      0% { left: 100%; }
      100% { left: -150%; }
    }

  

  
    .train-car:nth-child(1) { left: 0; animation-delay: 0s; }
    .train-car:nth-child(2) { left: 25%; animation-delay: -6s; }
    .train-car:nth-child(3) { left: 50%; animation-delay: -12s; }
    .train-car:nth-child(4) { left: 75%; animation-delay: -18s; }
    .train-car:nth-child(5) { left: 100%; animation-delay: -24s; }
    .train-car:nth-child(6) { left: 125%; animation-delay: -30s; }
    .train-car:nth-child(7) { left: 150%; animation-delay: -36s; }
    .train-car:nth-child(8) { left: 175%; animation-delay: -42s; }
    .train-car:nth-child(9) { left: 200%; animation-delay: -48s; }
    .train-car:nth-child(10) { left: 225%; animation-delay: -54s; }





    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
.contact-bg{
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.688)), url(image/good-img.jpg.webp);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-bg h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.contact-bg h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: #f7327a;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: #f7327a;
    border-radius: 50%;
}
.text{
    font-weight: 300;
    opacity: 0.9;
}
.contact-bg .text{
    margin: 1.6rem 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #f7327a;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}
.contact-form{
  margin-left: 1cm;
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}
.contact-form form{
    padding-bottom: 1rem;
}
.form-control{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}
.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}
.send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #f7327a;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.send-btn:hover{
    opacity: 0.8;
}
.contact-form > div img{
    width: 85%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}
.contact-footer{
    padding: 2rem 0;
    background: #9e5699;
}
.contact-footer h3{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.social-links a:hover{
    color: #f7327a;
    border-color: #f7327a;
}

@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px){

    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}








:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #c89ed3;
  --bg-secondary: #a16396;
  --transition-speed: 600ms;
  /* height: 60%; */
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  z-index: 2;
  position: fixed;
  border-radius: 12px;
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-nav {

  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #c3b5c1;
}

.fa-secondary {
  color: #6d0547;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .ext{
    display: none;
  }

  .nav-item{
    width: 20%;
  }


  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {

  .navbar {
    /* top: 0; */
    width: 5rem;
    display: flex;
    margin-top: 4cm;
    height: 65vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #c190cb;
  --bg-secondary: #bb8ec1;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}
  
  
  
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
	text-decoration: none;
}
.team{
	position: relative;
	width: 100%;
	/* height: 200vh; */
  height: auto;
	background: radial-gradient(#281c3e,#0f051d);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	/* grid-template-columns: repeat(auto-fit, minmax(150px, auto)); */
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
  z-index: 99;
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: #fff;
	font-size: 4rem;
	text-align: center;
}
.box{
	padding: 16px;
	background: #1b1229;
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
/*******/
.box1{
  margin-left: 170px;
	padding: 16px;
	background: #1b1229;
	border-radius: 15px;
	transition: all .38s ease
}
.box1 h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box1 h5{
  /* height: 10px; */
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.box1 img{
   height: 400px;
   width: 400px;
   transition: transform 0.3s ease;
}
.box1:hover  {
  transform: scale(1.2); /* Set your desired scale factor for the hover effect */
}

/*******/
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
  
  ul{
    position: relative;
    left: 1.5cm;
  }
  .timeline{
    width: 8cm;
  }
  .comm h2 {
    /* display: flex; */
    /* width: 3cm; */
    /* font-size: small; */
    /* font-size: large; */
    color: white; font-family: 'Great Vibes', cursive;
    font-family: 'Rubik Glitch Pop', system-ui;
  }
  .train-car {
    width: 500px; 
    height: 400px; 
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    animation: moveTrain 4.5s linear infinite; 
    top: 50px;
    z-index: 2;
  }

  
  /* Adjusted left values for spacing */
  .train-car:nth-child(1) { left: 0; animation-delay: 0s; }
  .train-car:nth-child(2) { left: 300px; animation-delay: -6s; }
  .train-car:nth-child(3) { left: 600px; animation-delay: -12s; }
  .train-car:nth-child(4) { left: 900px; animation-delay: -18s; }
  .train-car:nth-child(5) { left: 1200px; animation-delay: -24s; }
  .train-car:nth-child(6) { left: 1500px; animation-delay: -30s; }
  .train-car:nth-child(7) { left: 1800px; animation-delay: -36s; }
  .train-car:nth-child(8) { left: 2100px; animation-delay: -42s; }
  .train-car:nth-child(9) { left: 2400px; animation-delay: -48s; }
  /* .train-car:nth-child(10) { left: 2700px; animation-delay: -54s; } */
  
  .team{
    width: 100%;
    height: auto;
    padding: 90px 2%;
  }
  .center h1{
    font-size: 3.2rem;
  }
}


section{
  z-index: -99;
}

.train-container img{
  /* z-index: -98; */
  z-index: 1;
  height: 13.55cm;

  /* border: 3px solid white; */
  border-radius: 3px;
}
@media(max-width: 786px) {
  .timeline__event {
    /* width: 8cm; */
  }
  #anshika{
    position: relative;
    left: 2.76cm;
    /* width: 5cm; */
  }
}


@media(max-width: 600px){
  .train-container img{

      height: 8cm;
      border-radius:6px;
    

  }
  .train-container{
    height: 469px;
  }
  .righter{
    margin-left: 0;
  }

 
  .ext{
    height: 0;
  }
  .navbar{
    margin-left: 0;
  }
  .contact-form{
    margin-left: 0;
  }
  .contact-footer{
    padding-bottom: 2.2cm;
  }
  .navbar a{
    flex: 1; /* Each element takes up an equal portion of the width */
  }

  
}

.titler{
  
  /* background-color: #a167b6; */
  /* background: radial-gradient(#ae4fbd00,#a167b6); */
  height: 8cm;
}

.titler img{
  height: 4cm;
  display: flex;
  margin: auto;
}
  
  
  
  


.train-container img:hover{
  border: 10px solid white;
}

.extraa{
  height: 6cm;
}





/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
  height: 100%
}

.bgimg {
  /* Background image */
  background-image: url('/w3images/forestbridge.jpg');
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the middle */
.middle {
  width: 10cm;
  padding-bottom: 2cm;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.middle h1{
  font-family: 'Rubik Doodle Shadow';
}

.middle #demo{
  font-family: 'Rubik Doodle Shadow';
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}


.gallery{
  color: white;
}
